* {
  padding: 50;
  margin: 0;
  box-sizing: content-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background:grey;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button
{
    background-color:whitesmoke;
  
    width: 140px;
    height: 70px;
    border-radius: 17px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    letter-spacing: 1px;
}
button:hover
{
    cursor: pointer;
    scale: 2px;;
    box-shadow: 5px 5px 5px;
    animation-name: example;
    animation-duration: 4s;
}
@keyframes example {
    0%   {background-color: red;}
    50%  {background-color: orange;}
}
